Repository AkshithSagar/MyMovieList, pull requests merged in 2022-04, with the labels that each got.

#28 The code for storing and retrieving images to and from backend
  Sprint 3 Server
  Sprint 3 Storing and Retrieving Images from Backend
  Sprint 3 User Validation
  UnitTesting
  Upload a File
Labels: help wanted, backend

#55 Added unit testing
  FrontEnd/FE-Sprint3/src/app/add-data/addforums/addforums.component.scss
  FrontEnd/FE-Sprint3/src/app/add-data/addmovies/addmovies.component.scss
  FrontEnd/FE-Sprint3/src/app/add-data/addmovies/addmovies.component.spec.ts
  FrontEnd/FE-Sprint3/src/app/add-data/addmovies/addmovies.component.ts
  FrontEnd/FE-Sprint3/src/app/find/findmovies/displayresults/displayresults.component.html
  FrontEnd/FE-Sprint3/src/app/find/findmovies/displayresults/displayresults.component.scss
  FrontEnd/FE-Sprint3/src/app/login/login.component.scss
  FrontEnd/FE-Sprint3/src/app/login/login.component.spec.ts
  FrontEnd/FE-Sprint3/src/app/login/login.component.ts
  FrontEnd/FE-Sprint3/src/app/signup/signup.component.html
  FrontEnd/FE-Sprint3/src/app/signup/signup.component.spec.ts
  FrontEnd/FE-Sprint3/src/app/signup/signup.component.ts
Labels: front end, sprint 3

#61 Completed working on displaying all results in the page.
  .DS_Store
  FrontEnd/.DS_Store
  FrontEnd/FE-Sprint4/src/app/add-data/addmovies/addmovies.component.ts
  FrontEnd/FE-Sprint4/src/app/api-call.service.spec.ts
  FrontEnd/FE-Sprint4/src/app/api-call.service.ts
  FrontEnd/FE-Sprint4/src/app/app.module.ts
  FrontEnd/FE-Sprint4/src/app/auth/auth.guard.spec.ts
  FrontEnd/FE-Sprint4/src/app/auth/auth.guard.ts
  FrontEnd/FE-Sprint4/src/app/auth/auth.service.ts
  FrontEnd/FE-Sprint4/src/app/auth/user.ts
  FrontEnd/FE-Sprint4/src/app/find/findmovies/displayresults/displayresults.component.html
  FrontEnd/FE-Sprint4/src/app/find/findmovies/displayresults/displayresults.component.ts
  FrontEnd/FE-Sprint4/src/app/navigation/header/header.component.html
  FrontEnd/FE-Sprint4/src/app/routing/routing.module.ts
  FrontEnd/FE-Sprint4/src/app/userprofile/userprofile.component.html
  FrontEnd/FE-Sprint4/src/app/userprofile/userprofile.component.scss
  FrontEnd/FE-Sprint4/src/app/userprofile/userprofile.component.ts
  backend/.DS_Store
  backend/getAllMovies/.DS_Store
  backend/getAllMovies/cmd/main.go
  backend/getAllMovies/cmd/moviedatabase_sprint3.db
Labels: enhancement, front end, sprint 4

#69 Resolved CORS error
  backend/getAllMovies/cmd/main.go
  backend/sprint4_v2.db
Labels: help wanted, sprint 4

#71 Final UI update to find movies
  FrontEnd/FE-Sprint4/src/app/api-call.service.ts
  FrontEnd/FE-Sprint4/src/app/discussions/findforums/findforums.component.html
  FrontEnd/FE-Sprint4/src/app/discussions/findforums/findforums.component.ts
Labels: enhancement, front end, sprint 4

#80 Home page: suggested movies
  FrontEnd/FE-Sprint4/src/app/api-call.service.ts
  FrontEnd/FE-Sprint4/src/app/home/suggestions/User.model.ts
  FrontEnd/FE-Sprint4/src/app/home/suggestions/suggestions.component.ts
Labels: enhancement, front end, sprint 4

#82 Home Page - suggested discussions
  .DS_Store
  FrontEnd/FE-Sprint4/src/app/api-call.service.ts
  FrontEnd/FE-Sprint4/src/app/app.module.ts
  FrontEnd/FE-Sprint4/src/app/display/moviebygenre/moviebygenre.component.html
  FrontEnd/FE-Sprint4/src/app/display/moviebygenre/moviebygenre.component.scss
  FrontEnd/FE-Sprint4/src/app/display/moviebygenre/moviebygenre.component.spec.ts
  FrontEnd/FE-Sprint4/src/app/display/moviebygenre/moviebygenre.component.ts
  FrontEnd/FE-Sprint4/src/app/displaymovies/displaymovies.component.html
  FrontEnd/FE-Sprint4/src/app/displaymovies/displaymovies.component.spec.ts
  FrontEnd/FE-Sprint4/src/app/displaymovies/displaymovies.component.ts
  FrontEnd/FE-Sprint4/src/app/find/displayaction/displayaction.component.html
  FrontEnd/FE-Sprint4/src/app/find/displayaction/displayaction.component.scss
  FrontEnd/FE-Sprint4/src/app/find/displayaction/displayaction.component.ts
  FrontEnd/FE-Sprint4/src/app/find/findmovies/displayresults/displayresults.component.html
  FrontEnd/FE-Sprint4/src/app/find/findmovies/findmovies.component.html
  FrontEnd/FE-Sprint4/src/app/find/findmovies/findmovies.component.ts
  FrontEnd/FE-Sprint4/src/app/home/discussions/discussions.component.html
  FrontEnd/FE-Sprint4/src/app/home/discussions/discussions.component.ts
  FrontEnd/FE-Sprint4/src/app/home/discussions/discussions.model.ts
  FrontEnd/FE-Sprint4/src/app/home/suggestions/suggestions.component.ts
  FrontEnd/FE-Sprint4/src/app/home/suggestions/suggestions.model.ts
  FrontEnd/FE-Sprint4/src/app/routing/routing.module.ts
  FrontEnd/FE-Sprint4/src/app/sharing/data.service.spec.ts
  FrontEnd/FE-Sprint4/src/app/sharing/data.service.ts
  FrontEnd/FE-Sprint4/src/app/userprofile/userprofile.component.html
  FrontEnd/FE-Sprint4/src/app/userprofile/userprofile.component.ts
  backend/.DS_Store
  backend/getAllMovies/.DS_Store
  backend/getAllMovies/cmd/main.go
  backend/sprint4_v2_ip.db
Labels: front end, sprint 4

#84 Find movies by genre
  FrontEnd/FE-Sprint4/src/app/api-call.service.ts
  FrontEnd/FE-Sprint4/src/app/display/moviebygenre/moviebygenre.component.html
  FrontEnd/FE-Sprint4/src/app/display/moviebygenre/moviebygenre.component.scss
  FrontEnd/FE-Sprint4/src/app/display/moviebygenre/moviebygenre.component.ts
  FrontEnd/FE-Sprint4/src/app/find/findmovies/displayresults/displayresults.component.ts
  backend/getAllMovies/cmd/main.go
Labels: front end, sprint 4

#85 Find movies based on Genre - back end integration
  FrontEnd/FE-Sprint4/src/app/api-call.service.ts
  FrontEnd/FE-Sprint4/src/app/display/moviebygenre/moviebygenre.component.ts
  FrontEnd/FE-Sprint4/src/app/find/findmovies/findmovies.component.html
  FrontEnd/FE-Sprint4/src/app/find/findmovies/findmovies.component.ts
Labels: enhancement, front end, sprint 4

#88 Linked the pages : find movie and display movies using shared data se…
  .DS_Store
  FrontEnd/FE-Sprint4/src/app/app.module.ts
  FrontEnd/FE-Sprint4/src/app/display/moviebygenre/moviebygenre.component.html
  FrontEnd/FE-Sprint4/src/app/display/moviebygenre/moviebygenre.component.ts
  FrontEnd/FE-Sprint4/src/app/display/moviedetails/moviedetails.component.html
  FrontEnd/FE-Sprint4/src/app/display/moviedetails/moviedetails.component.scss
  FrontEnd/FE-Sprint4/src/app/display/moviedetails/moviedetails.component.spec.ts
  FrontEnd/FE-Sprint4/src/app/display/moviedetails/moviedetails.component.ts
  FrontEnd/FE-Sprint4/src/app/find/findmovies/displayresults/displayresults.component.html
  FrontEnd/FE-Sprint4/src/app/find/findmovies/displayresults/displayresults.component.ts
  FrontEnd/FE-Sprint4/src/app/routing/routing.module.ts
  FrontEnd/FE-Sprint4/src/app/sharing/data.service.ts
  backend/sprint4_v2_ip.db
Labels: enhancement, front end, sprint 4

#90 Added cypress tests for new and updated components
  FrontEnd/FE-Sprint4/cypress/integration/addforums.ts
  FrontEnd/FE-Sprint4/cypress/integration/findforums.ts
  FrontEnd/FE-Sprint4/cypress/integration/findmovies.ts
  FrontEnd/FE-Sprint4/cypress/integration/homepage.ts
  FrontEnd/FE-Sprint4/src/app/discussions/findforums/findforums.component.html
  FrontEnd/FE-Sprint4/src/app/find/findmovies/findmovies.component.html
  FrontEnd/FE-Sprint4/src/app/find/findmovies/findmovies.component.scss
  FrontEnd/FE-Sprint4/src/app/home/home.component.html
Labels: front end, sprint 4

#93 changes to homepage ui and functionality to search bar
  .DS_Store
  FrontEnd/FE-Sprint4/cypress/videos/addforums.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/addingmovies.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/findforums.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/findmovies.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/homepage.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/loginpage.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/signup.ts.mp4
  FrontEnd/FE-Sprint4/src/app/display/moviedetails/moviedetails.component.html
  FrontEnd/FE-Sprint4/src/app/display/moviedetails/moviedetails.component.scss
  FrontEnd/FE-Sprint4/src/app/display/moviedetails/moviedetails.component.ts
  FrontEnd/FE-Sprint4/src/app/find/findmovies/findmovies.component.html
  FrontEnd/FE-Sprint4/src/app/find/findmovies/findmovies.component.ts
  FrontEnd/FE-Sprint4/src/app/home/suggestions/suggestions.component.ts
  FrontEnd/FE-Sprint4/src/app/login/login.component.html
  FrontEnd/FE-Sprint4/src/app/login/login.component.scss
  FrontEnd/FE-Sprint4/src/app/material/material.module.ts
  FrontEnd/FE-Sprint4/src/app/navigation/header/header.component.html
  FrontEnd/FE-Sprint4/src/app/navigation/header/header.component.scss
  FrontEnd/FE-Sprint4/src/app/navigation/header/header.component.ts
  FrontEnd/FE-Sprint4/src/app/routing/routing.module.ts
  FrontEnd/FE-Sprint4/src/app/signup/signup.component.html
  FrontEnd/FE-Sprint4/src/app/signup/signup.component.ts
  backend/.DS_Store
  backend/getAllMovies/.DS_Store
Labels: enhancement, front end, sprint 4

#94 SignUp
  backend/getAllMovies/cmd/main.go
  backend/getAllMovies/platform/moviefeed/moviefeed.go
  backend/getAllMovies/platform/moviefeed/signup.go
  backend/sprint4_v2_ip.db
Labels: backend, sprint 4

#97 added navigation to display movie details from home.
  FrontEnd/FE-Sprint4/src/app/find/findmovies/findmovies.component.ts
  FrontEnd/FE-Sprint4/src/app/home/suggestions/suggestions.component.html
  FrontEnd/FE-Sprint4/src/app/home/suggestions/suggestions.component.ts
  backend/sprint4_v2_ip.db
Labels: enhancement, front end, sprint 4

#98 Cypress test videos
  FrontEnd/FE-Sprint4/cypress/integration/1signup.ts
  FrontEnd/FE-Sprint4/cypress/integration/2loginpage.ts
  FrontEnd/FE-Sprint4/cypress/integration/3homepage.ts
  FrontEnd/FE-Sprint4/cypress/integration/addingmovies.ts
  FrontEnd/FE-Sprint4/cypress/videos/1signup.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/2loginpage.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/3homepage.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/addforums.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/addingmovies.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/findforums.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/findmovies.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/homepage.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/loginpage.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/signup.ts.mp4
  FrontEnd/FE-Sprint4/src/app/login/login.component.html
  FrontEnd/FE-Sprint4/src/app/login/login.component.ts
  backend/sprint4_v2_ip.db
Labels: front end, sprint 4

#99 updates to readme and database
  FrontEnd/FE-Sprint4/src/app/discussions/findforums/findforums.component.html
  FrontEnd/FE-Sprint4/src/app/discussions/findforums/findforums.component.scss
  FrontEnd/FE-Sprint4/src/app/home/discussions/discussions.componenet.spec.ts
  FrontEnd/FE-Sprint4/src/app/home/discussions/discussions.component.html
  FrontEnd/FE-Sprint4/src/app/signup/signup.component.spec.ts
  Sprint4.md
Labels: documentation, front end, sprint 4

#100 Cypress videos
  .DS_Store
  FrontEnd/.DS_Store
  FrontEnd/FE-Sprint4/.DS_Store
  FrontEnd/FE-Sprint4/cypress/.DS_Store
  FrontEnd/FE-Sprint4/cypress/videos/1signup.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/2loginpage.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/3homepage.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/addforums.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/addingmovies.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/findforums.ts.mp4
  FrontEnd/FE-Sprint4/cypress/videos/findmovies.ts.mp4
  FrontEnd/FE-Sprint4/src/app/home/suggestions/suggestions.component.ts
  FrontEnd/FE-Sprint4/src/app/login/login.component.ts
  FrontEnd/FE-Sprint4/src/app/navigation/header/header.component.html
  FrontEnd/FE-Sprint4/src/app/navigation/header/header.component.ts
  FrontEnd/FE-Sprint4/src/app/sharing/data.service.ts
  backend/sprint4_v2_ip.db
Labels: documentation, front end, sprint 4

#101 button style in find movies
  FrontEnd/FE-Sprint4/cypress/videos/.DS_Store
  FrontEnd/FE-Sprint4/src/app/find/findmovies/findmovies.component.html
  FrontEnd/FE-Sprint4/src/app/navigation/header/header.component.html
  backend/sprint4_v2_ip.db
Labels: enhancement, sprint 4
